html, body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: maroon;
    color: cyan;
}

a:link{
    color: palevioletred;
}

a:visited{
    color: greenyellow;
}

#home:hover{
    cursor: pointer;
    width: fit-content;
}

.bubble{
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin: auto;
    margin-top: 2px;
    max-width: 90%;
    overflow-wrap: break-word;
}

.left{
    background-color: lightcoral;
    margin-left: 0;
}

.right{
    background-color: lightseagreen;
    margin-right: 0;
}

.center{
    background-color: lightslategrey;
}

.date{
    font-size: 10px;
    color: darkslategray;
}

.title{
    font-weight: bold;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    text-align: center;
    font-style: italic;
}

.first{
    margin-top: 10px;
}

#chatSpace{
    overflow-y: hidden;     /*Pongo esto en scroll si quiero que salga el resto o no*/
    margin: auto;
    width: 80%;
    height: 500px;
}

#temp, h1{
    margin: auto;
    width: fit-content;
}
