html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: maroon;
    color: cyan;
}

a:link{
    color: palevioletred;
}

a:visited{
    color: greenyellow;
}

#home:hover{
    cursor: pointer;
    width: fit-content;
}

.bubble{
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: black;
    margin: auto;
    margin-top: 2px;
}

.left{
    background-color: lightcoral;
    margin-left: 0;
}

.right{
    background-color: lightseagreen;
    margin-right: 0;
}

.center{
    background-color: lightslategrey;
}
