html {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: maroon;
    color: cyan;
}

a:link{
    color: palevioletred;
}

a:visited{
    color: greenyellow;
}

#home:hover{
    cursor: pointer;
}